<div class="flip-container">
  <div class="flipper" id="flipper">
    <div class="front">
      <h1 class="title">Admin Login</h1>
      <form>
        <input type="text" [(ngModel)]="username" [ngModelOptions]="{ standalone: true }" placeholder="Username" />
        <input type="password" [(ngModel)]="password" [ngModelOptions]="{ standalone: true }" placeholder="Password" />
        <input type="button" (click)="getAuthentication(username,password)" value="Login"/>
      </form> 
      <p *ngIf="error">{{error}}</p>
    </div>
  </div>
  </div>
